{% extends "dock_scheduler/base.html" %}
{% block content %}
    {% for booking in bookings %}
	<article class="media content-section">
	  <div class="media-body">
	    <div class="article-metadata">
	      <a class="mr-2" href="#">Driver ID: {{ booking.driver }}</a>
	      <small class="text-muted">{{ booking.order }}</small>
	    </div>
	    <h2><a class="article-title" href="#">{{ booking.dock_activity.dock}}</a></h2>
	    <p class="article-content">{{ booking.dock_activity.activity }} | {{ booking.dock_activity.time_segment }}
	  </div>
	</article>
    {% endfor %}
{% endblock content %}