{% extends "dock_scheduler/base.html" %}
{% load crispy_forms_tags %}
{% block form_block %}
<div class="col-md-4">
    <div class="content-section">
        <form method="post">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Find a dock that suits you</legend>
                {{ form|crispy }}
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-info" type="submit">Search</button>
            </div>
            <small>Know exactly what you want? Book it <a href="{% url 'scheduler-booking' %}">here</a></small>
        </form>
    </div>
</div>
{% endblock form_block %}
{% block content %}
<div class="col-md-8">
	<ul class="list-group list-group-flush">
		{% for dock in docks %}
		<a href="#" class="list-group-item list-group-item-action">
			<div class="d-flex w-100 justify-content-between">
				<h5 class="mb-1">{{ dock }}</h5>
				<small>{{ dock.category }}</small>
			</div>
		</a>
		{% endfor %}
	</ul>
</div>
{% endblock content %}