{% extends "dock_scheduler/base.html" %}
{% load crispy_forms_tags %}
{% block form_block %}
<div class="col-md-4">
    <div class="content-section">
        <form enctype="multipart/form-data" method="post">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Upload a schedule</legend>
                {{ form|crispy }}
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-info" type="submit">Upload</button>
            </div>
            <small>The schedule for the chosen day will be deleted</small>
        </form>
    </div>
</div>
{% endblock form_block %}
{% block content %}
<div class="col-md-8">
    {% if segments and daily_schedules %}
        <table class="table">
            <thead class="thead-light">
            <th scope="col">Dock</th>
            <th scope="col">Vehicle</th>
            {% for segment in segments %}
                <th scope="col">{{ segment.start_time|time:"H:i" }} - {{ segment.end_time|time:"H:i" }}</th>
            {% endfor %}
            </thead>
            <tbody>
                {% for schedule in daily_schedules %}
                <tr>
                    {% for value in schedule %}
                    <td>{{ value }}</td>
                    {% endfor %}
                </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endif%}
</div>
{% endblock content %}